.products-list {
    width: 90%;
    margin-left: 4%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: repeat(20, 220px);
}
@media screen and (max-width: 768px) {
    .products-list {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-template-rows: repeat(20, 250px);
    }
}
@media screen and (max-width: 430px) {
    .products-list {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        grid-template-rows: repeat(20, 360px);
    }
}
